﻿@model CarPlce.Models.Car
@{
    Layout = null;
}
@{
    ViewData["Title"] = "Add";
}

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>INSPINIA | Add</title>

    <link href="~/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/css/plugins/iCheck/custom.css" rel="stylesheet">
    <link href="~/css/animate.css" rel="stylesheet">
    <link href="~/css/style.css" rel="stylesheet">

</head>
<div class="middle-box text-center loginscreen animated fadeInDown">
    <div>

        <h1 class="logo-name">IN+</h1>

    </div>
    <h3>Register to IN+</h3>
    <p>Create account to see it in action.</p>
    <form asp-action="Add" asp-controller="Cars" asp-anti-forgery="true">
        <div class="validation" asp-validation-summary="ModelOnly" />
        <div>
            @using (Html.BeginForm())
            {
                @Html.ValidationSummary(true)
                <div class="form-group">
                    <input type="text" class="form-control" asp-for="Mark" placeholder="Mark">
                </div>

                <div class="form-group">
                    <input type="text" class="form-control" asp-for="Model" placeholder="Model">
                </div>

                <div class="form-group">
                    <input type="DateTime" class="form-control" asp-for="Doc" placeholder="Doc">
                </div>

                <div class="form-group">
                    <input type="text" class="form-control" asp-for="Number" placeholder="Number">
                </div>

                <div class="form-group">
                    <input type="text" class="form-control" asp-for="Color" placeholder="Color">
                </div>

                <div class="form-group">
                    <p>Владелец:</p>
                    @Html.DropDownList("UserId", ViewBag.Users as SelectList)
                </div>
                <button type="submit" class="btn btn-primary block full-width m-b">Сохранить</button>

            }
        </div>
    </form>
</div>


<!-- Mainly scripts -->
<script src="~/js/jquery-2.1.1.js"></script>
<script src="~/js/bootstrap.min.js"></script>
<!-- iCheck -->
<script src="~/js/plugins/iCheck/icheck.min.js"></script>
<script>
    $(document).ready(function () {
        $('.i-checks').iCheck({
            checkboxClass: 'icheckbox_square-green',
            radioClass: 'iradio_square-green',
        });
    });
</script>





@*

    @model CarPlce.Models.Car
    @{
        ViewData["Title"] = "Add";
    }
        <div>
            <h3>Добавление</h3>
            <p>Для добавления заполните следующие поля:</p>
            <form method="post">
                <input type="hidden" value="@ViewBag.CarId" name="CarId" />
                <div>
                    <label asp-for="Mark"></label><br />
                    <input type="text" asp-for="Mark" />
                    <span asp-validation-for="Mark"></span>
                </div>
                <div>
                    <label asp-for="Model"></label><br />
                    <input type="text" asp-for="Model" />
                    <span asp-validation-for="Model"></span>
                </div>
                <div>
                    <label asp-for="Doc"></label><br />
                    <input type="text" asp-for="Doc" />
                    <span asp-validation-for="Doc"></span>
                </div>
                <div>
                    <label asp-for="Number"></label><br />
                    <input type="text" asp-for="Number" />
                    <span asp-validation-for="Number"></span>
                </div>
                <div>
                    <label asp-for="Color"></label><br />
                    <input type="text" asp-for="Color" />
                    <span asp-validation-for="Color"></span>
                </div>
                    <div>
                        <td>Владелец:</td>
                        <td>@Html.DropDownList("UserId", ViewBag.Users as SelectList)</td>
                    </div>
                    <div>
                        <td><input type="submit" value="Сохранить" /></td>
                    </div>
            </form>
            @section scripts{

                <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
                <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
            }
        </div>

*@