﻿@model CarPlce.Models.Car
@{
    Layout = null;
}
@{
    ViewData["Title"] = "ConfirmDelete";
}
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <title>INSPINIA | Delete</title>

        <link href="~/css/bootstrap.min.css" rel="stylesheet">
        <link href="~/css/plugins/iCheck/custom.css" rel="stylesheet">
        <link href="~/css/animate.css" rel="stylesheet">
        <link href="~/css/style.css" rel="stylesheet">

    </head>
<div>
    <h3>"Удаление"</h3>
</div>
<div class="middle-box text-center loginscreen animated fadeInDown">
    <dl class="dl-horizontal">
        <dt>Mark (марка):</dt>
        <dd>
            @Html.DisplayFor(model => model.Mark)
        </dd>
        <dt>Model (модель):</dt>
        <dd>
            @Html.DisplayFor(model => model.Model)
        </dd>
        <dt>Date of create (Дата создания):</dt>
        <dd>
            @Html.DisplayFor(model => model.Doc)
        </dd>
        <dt>Number (номер):</dt>
        <dd>
            @Html.DisplayFor(model => model.Number)
        </dd>
        <dt>Color (цвет авто):</dt>
        <dd>
            @Html.DisplayFor(model => model.Color)
        </dd>
    </dl>
    <div>
        <form asp-action="Delete" asp-controller="Cars" asp-anti-forgery="true">
            <!--<form asp-controller="Cars" asp-action="Delete" method="post">-->
            <div class="form-group">
                <input type="submit" class="btn btn-default" value="Удалить" />
            </div>
        </form>
    </div>
</div>

