﻿@model CarPlce.Models.Car
@{
    Layout = null;
}
@{
    ViewData["Title"] = "Edit";
}
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>INSPINIA | Register</title>

    <link href="~/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/css/plugins/iCheck/custom.css" rel="stylesheet">
    <link href="~/css/animate.css" rel="stylesheet">
    <link href="~/css/style.css" rel="stylesheet">

</head>
<div class="middle-box text-center loginscreen animated fadeInDown">
    <div>
        <h3>"Редактирование автомобиля"</h3>
    </div>

    <form asp-antiforgery="true" asp-action="Edit" asp-controller="Cars">
        <input type="hidden" value="@ViewBag.CarId" name="CarId" />
        <div class="validation" asp-validation-summary="ModelOnly"></div>
        <div class="form-group">
            <label asp-for="Mark" class="control-label">Mark (марка):</label>
            <input type="text" asp-for="Mark" class="form-control" />
            <span asp-validation-for="Mark"></span>
        </div>
        <div class="form-group">
            <label asp-for="Model" class="control-label">Model (модель):</label>
            <input type="text" asp-for="Model" class="form-control" />
            <span asp-validation-for="Model"></span>
        </div>

        <div class="form-group">
            <label asp-for="Doc" class="control-label">Date of create (Дата создания):</label>
            <input type="text" asp-for="Doc" class="form-control" />
            <span asp-validation-for="Doc"></span>
        </div>

        <div class="form-group">
            <label asp-for="Number" class="control-label">Number (номер):</label>
            <input type="text" asp-for="Number" class="form-control" />
            <span asp-validation-for="Number"></span>
        </div>

        <div class="form-group">
            <label asp-for="Color" class="control-label">Color (цвет авто):</label>
            <input type="text" asp-for="Color" class="form-control" />
            <span asp-validation-for="Color"></span>
        </div>
        <div>
            <td>Владелец:</td>
            <td>@Html.DropDownList("UserId", ViewBag.Users as SelectList)</td>
        </div>
        <div>
            <div class="form-group">
                <button type="submit" class="btn btn-primary block full-width m-b">Сохранить</button>
            </div>
    </form>
</div>

<!-- Mainly scripts -->
<script src="~/js/jquery-2.1.1.js"></script>
<script src="~/js/bootstrap.min.js"></script>
<!-- iCheck -->
<script src="~/js/plugins/iCheck/icheck.min.js"></script>
<script>
    $(document).ready(function () {
        $('.i-checks').iCheck({
            checkboxClass: 'icheckbox_square-green',
            radioClass: 'iradio_square-green',
        });
    });
</script>