﻿@model IEnumerable<CarPlce.Models.Car>
@{
    ViewData["Title"] = "Index";
}
<head>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="~/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/css/animate.css" rel="stylesheet">
    <link href="~/css/style.css" rel="stylesheet">

</head>

<div class="text-center">
    <h1 class="display-4">Car</h1>
</div>
<div>
    <div class="col-lg-3">

        @foreach (var car in ViewBag.cars)
        {
        <div class="contact-box">
            <h6>Mark (марка): @car.Mark</h6>
            <h6>Model (модель): @car.Model</h6>
            <h6>Date of create (Дата создания): @car.Doc</h6>
            <h6>Number (номер): @car.Number</h6>
            <h6>Color (цвет авто): @car.Color</h6>
            <a class="btn btn-sm btn-white btn-block" asp-action="Edit" asp-controller="Cars" asp-route-id="@car.Id">Изменить</a>
            <a class="btn btn-sm btn-white btn-block" asp-action="Delete" asp-controller="Cars" asp-route-id="@car.Id">Удалить</a>

            <!-- Вызов связных данных из класса User -->
            <div class="contact-box">
                <h6>Owner (Владелец): @car.User.Firstname @car.User.Lastname</h6>
                <table>
                    <tr>
                        <a asp-action="Edit" asp-controller="Users" asp-route-id="@car.Id">Изменить</a>
                    </tr>
                </table>
            </div>
        </div>
            
        }
    </div>

</div>


<div>
    <table>
        <tr>
            <td><p><a class="btn btn-sm btn-white btn-block" href="Add">Добавить</a></p></td>
        </tr>
    </table>
</div>

<!-- Mainly scripts -->
<script src="~/js/jquery-2.1.1.js"></script>
<script src="~/js/bootstrap.min.js"></script>
<!-- iCheck -->
<script src="~/js/plugins/iCheck/icheck.min.js"></script>
<script>
    $(document).ready(function () {
        $('.i-checks').iCheck({
            checkboxClass: 'icheckbox_square-green',
            radioClass: 'iradio_square-green',
        });
    });
</script>






@*
    @foreach (var user in ViewBag.users)
    {
        <div class="contact-box">
            <h6>Owner (Владелец): @user.Firstname @user.Lastname</h6>
            <table>
                <tr>
                    <a asp-action="Edit" asp-controller="Users" asp-route-id="@user.Id">Изменить</a>
                </tr>
            </table>
        </div>
    }
*@