﻿@model CarPlce.ViewModels.ChangePasswordViewModel
@{
    Layout = null;
}
@{
    ViewData["Title"] = "ChangePassword";
}

<h2>ChangePassword</h2>
<head>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="~/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/css/animate.css" rel="stylesheet">
    <link href="~/css/style.css" rel="stylesheet">

</head>
<div class="middle-box text-center loginscreen animated fadeInDown">
    <div class="col-md-12">
        <form method="post">
            <div asp-validation-summary="All" class="text-danger"></div>

            <div class="form-group">
                <input type="Password" class="form-control" asp-for="OldPassword" placeholder="OldPassword">
            </div>
            <div class="form-group">
                <input type="Password" class="form-control" asp-for="NewPassword" placeholder="NewPassword">
            </div>
            <div class="form-group">
                <input type="Password" class="form-control" asp-for="ConfirmPassword " placeholder="ConfirmPassword">
            </div>
            <button type="submit" class="btn btn-primary">Сохранить</button>
        </form>
    </div>
    
</div>


<!-- Mainly scripts -->
<script src="~/js/jquery-2.1.1.js"></script>
<script src="~/js/bootstrap.min.js"></script>