﻿@model CarPlce.ViewModels.RegisterModel
@{
    Layout = null;
}
@{
    ViewData["Title"] = "Register";
}

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>INSPINIA | Register</title>

    <link href="~/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/css/plugins/iCheck/custom.css" rel="stylesheet">
    <link href="~/css/animate.css" rel="stylesheet">
    <link href="~/css/style.css" rel="stylesheet">

</head>
<div class="middle-box text-center loginscreen animated fadeInDown">
    <div>

        <h1 class="logo-name">IN+</h1>

    </div>
    <h3>Register to IN+</h3>
    <p>Create account to see it in action.</p>
    <form asp-action="Register" asp-controller="Account" asp-anti-forgery="true">
        <div class="validation" asp-validation-summary="ModelOnly" />
        <div>
            @using (Html.BeginForm())
            {
                @Html.ValidationSummary(true)
                <div class="form-group">
                    <input type="text" class="form-control" asp-for="Firstname" placeholder="Firstname">
                </div>
                
                <div class="form-group">
                    <input type="text" class="form-control" asp-for="Lastname" placeholder="Lastname">
                </div>
                
                <div class="form-group">
                    <input type="DateTime" class="form-control" asp-for="DOB" placeholder="DOB">
                </div>
                
                <div class="form-group">
                    <input type="text" class="form-control" asp-for="Address" placeholder="Address">
                </div>
                
                <div class="form-group">
                    <input type="text" class="form-control" asp-for="Phone" placeholder="Phone">
                </div>
               
                <div class="form-group">
                    <input type="Email" class="form-control" asp-for="Email" placeholder="Email">
                </div>

                <div class="form-group">
                    <input type="Password" class="form-control" asp-for="Password" placeholder="Password">
                </div>
                
                <div class="form-group">
                    <input type="Password" class="form-control" asp-for="ConfirmPassword" placeholder="ConfirmPassword">
                </div>
                
                <button type="submit" class="btn btn-primary block full-width m-b">Регистрация</button>

            }
        </div>
     </form>
</div>


                <!-- Mainly scripts -->
                <script src="~/js/jquery-2.1.1.js"></script>
                <script src="~/js/bootstrap.min.js"></script>
                <!-- iCheck -->
                <script src="~/js/plugins/iCheck/icheck.min.js"></script>
                <script>
                    $(document).ready(function () {
                        $('.i-checks').iCheck({
                            checkboxClass: 'icheckbox_square-green',
                            radioClass: 'iradio_square-green',
                        });
                    });
                </script>


                @*
                    @model CarPlce.ViewModels.RegisterModel
                    @{
                        Layout = null;
                    }
                    @{
                        ViewData["Title"] = "Register";
                    }
                    <head>
                        <meta name="viewport" content="width=device-width, initial-scale=1.0">

                        <title>INSPINIA | Register</title>

                        <link href="~/css/bootstrap.min.css" rel="stylesheet">
                        <link href="~/css/plugins/iCheck/custom.css" rel="stylesheet">
                        <link href="~/css/animate.css" rel="stylesheet">
                        <link href="~/css/style.css" rel="stylesheet">

                    </head>

                    <div class="middle-box text-center loginscreen animated fadeInDown">
                        <div>
                            <div>

                                <h1 class="logo-name">IN+</h1>

                            </div>
                            <h3>Register to IN+</h3>
                            <p>Create account to see it in action.</p>
                            <!--<form class="m-t" role="form" action="Register">-->
                            <form action="Register" controller="Account" asp-anti-forgery="true">

                                    <div class="validation" validation-summary="ModelOnly" />
                                    <div class="form-group">
                                        <input type="text" class="form-control" placeholder="Firstname" required="">
                                    </div>
                                    <div class="form-group">
                                        <input type="text" class="form-control" placeholder="Lastname" required="">
                                    </div>
                                    <div class="form-group">
                                        <input type="text" class="form-control" placeholder="DOB" required="">
                                    </div>
                                    <div class="form-group">
                                        <input type="text" class="form-control" placeholder="Address" required="">
                                    </div>
                                    <div class="form-group">
                                        <input type="text" class="form-control" placeholder="Phone" required="">
                                    </div>
                                    <div class="form-group">
                                        <input type="email" class="form-control" placeholder="Email" required="">
                                    </div>
                                    <div class="form-group">
                                        <input type="password" class="form-control" placeholder="Password" required="">
                                    </div>
                                    <div class="form-group">
                                        <input type="text" class="form-control" placeholder="ConfirmPassword" required="">
                                    </div>
                                    <div class="form-group">
                                        <div class="checkbox i-checks"><label> <input type="checkbox"><i></i> Agree the terms and policy </label></div>
                                    </div>
                                    <button type="submit" class="btn btn-primary block full-width m-b">Регистрация</button>

                                    <p class="text-muted text-center"><small>Already have an account?</small></p>

                            </form>
                            <p class="m-t"> <small>Inspinia we app framework base on Bootstrap 3 &copy; 2020</small> </p>
                        </div>
                    </div>

                    <!-- Mainly scripts -->
                    <script src="~/js/jquery-2.1.1.js"></script>
                    <script src="~/js/bootstrap.min.js"></script>
                    <!-- iCheck -->
                    <script src="~/js/plugins/iCheck/icheck.min.js"></script>
                    <script>
                        $(document).ready(function () {
                            $('.i-checks').iCheck({
                                checkboxClass: 'icheckbox_square-green',
                                radioClass: 'iradio_square-green',
                            });
                        });
                    </script>

                    <!-- Site: HackForums.Ru | E-mail: abuse@hackforums.ru | Skype: h2osancho -->

                *@







                @*
            <a class="btn btn-sm btn-white btn-block" href="Login">Login</a>


               <div class="editor-label">
                                   @Html.LabelFor(model => model.Firstname)
                               </div>
                               <div class="editor-group">
                                   @Html.EditorFor(model => model.Firstname)
                                   @Html.ValidationMessageFor(model => model.Firstname)
                               </div>

                    <div class="editor-label">
                @Html.LabelFor(model => model.Lastname)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.Lastname)
                @Html.ValidationMessageFor(model => model.Lastname)
            </div>

                    <div class="editor-label">
                @Html.LabelFor(model => model.DOB)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.DOB)
                @Html.ValidationMessageFor(model => model.DOB)
            </div>

                    <div class="editor-label">
                @Html.LabelFor(model => model.Address)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.Address)
                @Html.ValidationMessageFor(model => model.Address)
            </div>

                    <div class="editor-label">
                @Html.LabelFor(model => model.Phone)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.Phone)
                @Html.ValidationMessageFor(model => model.Phone)
            </div>

                    <div class="editor-label">
                @Html.LabelFor(model => model.Email)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.Email)
                @Html.ValidationMessageFor(model => model.Email)
            </div>

                    <div class="editor-label">
                @Html.LabelFor(model => model.Password)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.Password)
                @Html.ValidationMessageFor(model => model.Password)
            </div>

                    <div class="editor-label">
                @Html.LabelFor(model => model.ConfirmPassword)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.ConfirmPassword)
                @Html.ValidationMessageFor(model => model.ConfirmPassword)
            </div>
                *@

