﻿@model CarPlce.ViewModels.UserAvatarModel
@{
    Layout = null;
}
@{
    ViewData["Title"] = "Add";
}

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>INSPINIA | Add</title>

    <link href="~/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/css/plugins/iCheck/custom.css" rel="stylesheet">
    <link href="~/css/animate.css" rel="stylesheet">
    <link href="~/css/style.css" rel="stylesheet">

</head>
<div class="middle-box text-center loginscreen animated fadeInDown">
    <div>

        <h1 class="logo-name">IN+</h1>

    </div>
    <h3>Register to IN+</h3>
    <p>Create account to see it in action.</p>
    <form enctype="multipart/form-data" asp-action="AddFile" asp-controller="Users" asp-anti-forgery="true">
        <div class="validation" asp-validation-summary="ModelOnly" />
        <div>
            @using (Html.BeginForm())
            {
                @Html.ValidationSummary(true)
                <div class="form-group">
                    <input type="text" class="form-control" asp-for="Firstname" placeholder="Firstname">
                </div>

                <div class="form-group">
                    <input type="text" class="form-control" asp-for="Lastname" placeholder="Lastname">
                </div>

                <div class="form-group">
                    <input type="DateTime" class="form-control" asp-for="DOB" placeholder="DOB">
                </div>

                <div class="form-group">
                    <input type="text" class="form-control" asp-for="Address" placeholder="Address">
                </div>

                <div class="form-group">
                    <input type="text" class="form-control" asp-for="Phone" placeholder="Phone">
                </div>

                <div class="form-group">
                    <input type="Email" class="form-control" asp-for="Email" placeholder="Email">
                </div>

                <div class="form-group">
                    <input type="Password" class="form-control" asp-for="Password" placeholder="Password">
                </div>

                <div class="form-group">
                    <input type="Password" class="form-control" asp-for="ConfirmPassword" placeholder="ConfirmPassword">
                </div>
                <div class="form-group">
                    <label asp-for="Photo" class="control-label">Avatar:</label>
                    <div class="custom-file">
                        <input type="file" asp-for="Photo" class="form-control custom-file-input" />
                        <label class="custom-file-label">Choose File...</label>
                    </div>
                </div>

                <button type="submit" class="btn btn-primary block full-width m-b">Сохранить</button>

            }
        </div>
    </form>
</div>


<!-- Mainly scripts -->
<script src="~/js/jquery-2.1.1.js"></script>
<script src="~/js/bootstrap.min.js"></script>
<!-- iCheck -->
<script src="~/js/plugins/iCheck/icheck.min.js"></script>
<script>
    $(document).ready(function () {
        $('.i-checks').iCheck({
            checkboxClass: 'icheckbox_square-green',
            radioClass: 'iradio_square-green',
        });
    });
</script>
<script>
    $(document).ready(function () {
        $('.custom-file-input').on("change", function () {
            var fileName = $(this).val().split("\\").pop();
            $(this).next('.custom-file-label').html(fileName);
        });
    }
</script>




@*

    @model CarPlce.Models.User
    @{
        ViewData["Title"] = "Add";
    }
        <div>
            <h3>Добавление</h3>
            <p>Для добавления заполните следующие поля:</p>
            <form asp-antiforgery="true" asp-action="Add" asp-controller="Users">
                <input type="hidden" value="@ViewBag.UserId" name="UserId" />
                <div class="validation" asp-validation-summary="ModelOnly"></div>
                <div>
                    <label asp-for="Firstname"></label><br />
                    <input type="text" asp-for="Firstname" />
                    <span class="field-validation-valid" data-valmsg-for="Firstname" data-valmsg-replace="true"></span>
                </div>
                <div>
                    <label asp-for="Lastname"></label><br />
                    <input type="text" asp-for="Lastname" />
                    <span class="field-validation-valid" data-valmsg-for="Lastname" data-valmsg-replace="true"></span>
                </div>
                <div>
                    <label asp-for="DOB"></label><br />
                    <input type="text" asp-for="DOB" />
                    <span class="field-validation-valid" data-valmsg-for="DOB" data-valmsg-replace="true"></span>
                </div>
                <div>
                    <label asp-for="Address"></label><br />
                    <input type="text" asp-for="Address" />
                    <span class="field-validation-valid" data-valmsg-for="Address" data-valmsg-replace="true"></span>
                </div>
                <div>
                    <label asp-for="Phone"></label><br />
                    <input type="text" asp-for="Phone" />
                    <span class="field-validation-valid" data-valmsg-for="Phone" data-valmsg-replace="true"></span>
                </div>
                <div>
                    <input type="submit" value="Сохранить" />
                </div>
            </form>
            @section scripts{

                <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
                <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
            }
        </div>
*@

