﻿@model CarPlce.ViewModels.UserAvatarModel
@{
    Layout = null;
}
@{
    ViewData["Title"] = "AddFile";
}

<h2>AddFile</h2>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>INSPINIA | Register</title>

    <link href="~/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/css/plugins/iCheck/custom.css" rel="stylesheet">
    <link href="~/css/animate.css" rel="stylesheet">
    <link href="~/css/style.css" rel="stylesheet">

</head>
<div class="middle-box text-center loginscreen animated fadeInDown">
    <form enctype="multipart/form-data" asp-action="AddFile" asp-controller="Users" asp-anti-forgery="true">
        <div class="form-group">
            <label asp-for="Photo" class="control-label">Email):</label>
            <div class="custom-file">
                <input class="form-control custom-file-input" type="file" asp-for="Photo"  />
                <label class="custom-file-label">Choose File...</label>
            </div>
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-primary block full-width m-b">Загрузить</button>
        </div>
    </form>

</div>


    <!-- Mainly scripts -->
    <script src="~/js/jquery-2.1.1.js"></script>
    <script src="~/js/bootstrap.min.js"></script>
    <!-- iCheck -->
    <script src="~/js/plugins/iCheck/icheck.min.js"></script>
    <script>
        $(document).ready(function () {
            $('.i-checks').iCheck({
                checkboxClass: 'icheckbox_square-green',
                radioClass: 'iradio_square-green',
            });
        });
    </script>
<script>
    $(document).ready(function () {
        $('.custom-file-input').on("change", function () {
            var fileName = $(this).val().split("\\").pop();
            $(this).next('.custom-file-label').html(fileName);
        });
    }
</script>
