﻿@model CarPlce.Models.User
@{
    Layout = null;
}
@{
    ViewData["Title"] = "Delete";
}
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>INSPINIA | Delete</title>

    <link href="~/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/css/plugins/iCheck/custom.css" rel="stylesheet">
    <link href="~/css/animate.css" rel="stylesheet">
    <link href="~/css/style.css" rel="stylesheet">

</head>
<div>
    <h3>"Удаление"</h3>
</div>
<div class="middle-box text-center loginscreen animated fadeInDown">
    <dl class="dl-horizontal">
        <dt>Firstname (имя):</dt>
        <dd>
            @Html.DisplayFor(model => model.Firstname)
        </dd>
        <dt>Lastname (фамилия):</dt>
        <dd>
            @Html.DisplayFor(model => model.Lastname)
        </dd>
        <dt>Вate of birth (Дата рождения):</dt>
        <dd>
            @Html.DisplayFor(model => model.DOB)
        </dd>
        <dt>Address (Адрес):</dt>
        <dd>
            @Html.DisplayFor(model => model.Address)
        </dd>
        <dt>Phone (Номер телефона):</dt>
        <dd>
            @Html.DisplayFor(model => model.Phone)
        </dd>
    </dl>
    <div>
        <form asp-action="Delete" asp-controller="Users" asp-anti-forgery="true">
            <!--<form asp-controller="Users" asp-action="Delete" method="post">-->
            <div class="form-group">
                <input type="submit" class="btn btn-default" value="Удалить" />
            </div>
        </form>
    </div>
</div>

<!-- Mainly scripts -->
<script src="~/js/jquery-2.1.1.js"></script>
<script src="~/js/bootstrap.min.js"></script>
<!-- iCheck -->
<script src="~/js/plugins/iCheck/icheck.min.js"></script>
<script>
    $(document).ready(function () {
        $('.i-checks').iCheck({
            checkboxClass: 'icheckbox_square-green',
            radioClass: 'iradio_square-green',
        });
    });
</script>

