﻿@model CarPlce.Models.User
@{
    Layout = null;
 }

@{
    ViewData["Title"] = "Edit";
}
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>INSPINIA | Register</title>

    <link href="~/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/css/plugins/iCheck/custom.css" rel="stylesheet">
    <link href="~/css/animate.css" rel="stylesheet">
    <link href="~/css/style.css" rel="stylesheet">

</head>
<div class="middle-box text-center loginscreen animated fadeInDown">
    <div>
        <h3>"Редактирование пользователя"</h3>
    </div>
    <form asp-antiforgery="true" asp-action="Edit" asp-controller="Users">
        <input type="hidden" value="@ViewBag.UserId" name="UserId" />
        <div class="validation" asp-validation-summary="ModelOnly"></div>
        <div class="form-group">
            <label asp-for="Firstname" class="control-label">Firstname (имя):</label>
            <input type="text" asp-for="Firstname" class="form-control" />
            <span asp-validation-for="Firstname"></span>
        </div>
        <div class="form-group">
            <label asp-for="Lastname" class="control-label">Lastname (фамилия):</label>
            <input type="text" asp-for="Lastname" class="form-control" />
            <span asp-validation-for="Lastname"></span>
        </div>

        <div class="form-group">
            <label asp-for="DOB" class="control-label">Вate of birth (Дата рождения):</label>
            <input type="text" asp-for="DOB" class="form-control" />
            <span asp-validation-for="DOB"></span>
        </div>

        <div class="form-group">
            <label asp-for="Address" class="control-label">Address (Адрес):</label>
            <input type="text" asp-for="Address" class="form-control" />
            <span asp-validation-for="Address"></span>
        </div>

        <div class="form-group">
            <label asp-for="Phone" class="control-label">Phone (Номер телефона):</label>
            <input type="text" asp-for="Phone" class="form-control" />
            <span asp-validation-for="Phone"></span>
        </div>
        
            <div class="form-group">
                <label asp-for="Email" class="control-label">Email):</label>
                <input type="text" asp-for="Email" class="form-control" />
                <span asp-validation-for="Email"></span>
            </div>
            <div class="form-group">
                <label asp-for="Password" class="control-label">Password:</label>
                <input type="text" asp-for="Password" class="form-control" />
                <span asp-validation-for="Password"></span>
            </div>
            <div class="form-group">
                <label asp-for="ConfirmPassword" class="control-label">ConfirmPassword:</label>
                <input type="text" asp-for="ConfirmPassword" class="form-control" />
                <span asp-validation-for="ConfirmPassword"></span>
            </div>
        
        <div class="form-group">
            <button type="submit" class="btn btn-primary block full-width m-b">Сохранить</button>
        </div>
    </form>
</div>

<!-- Mainly scripts -->
<script src="~/js/jquery-2.1.1.js"></script>
<script src="~/js/bootstrap.min.js"></script>
<!-- iCheck -->
<script src="~/js/plugins/iCheck/icheck.min.js"></script>
<script>
    $(document).ready(function () {
        $('.i-checks').iCheck({
            checkboxClass: 'icheckbox_square-green',
            radioClass: 'iradio_square-green',
        });
    });
</script>