﻿@model IEnumerable<CarPlce.Models.User>
@{
    ViewData["Title"] = "Index1";
}
<head>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="~/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/css/animate.css" rel="stylesheet">
    <link href="~/css/style.css" rel="stylesheet">

</head>

<div class="text-center">
    <h1 class="display-4">CarPlce</h1>
</div>

<div class="col-lg-3">
    <div>
        @foreach (var user in ViewBag.users)
        {
            var photoPath = "~/Img/" + (user.PhotoPath ?? "noimage.jpg");
            <div class="contact-box">
                <img class="card-img-top" src="@photoPath" asp-append-version="true" />
                <h6>Firstname (имя): @user.Firstname</h6>
                <h6>Lastname (фамилия): @user.Lastname</h6>
                <h6>Вate of birth (Дата рождения): @user.DOB</h6>
                <h6>Address (Адрес): @user.Address</h6>
                <h6>Phone (Номер телефона): @user.Phone</h6>
                <a class="btn btn-sm btn-white btn-block" href="/Cars/Index">Авто</a>
            </div>
        }
    </div>
</div>

<!-- Mainly scripts -->
<script src="~/js/jquery-2.1.1.js"></script>
<script src="~/js/bootstrap.min.js"></script>
<!-- iCheck -->
<script src="~/js/plugins/iCheck/icheck.min.js"></script>
<script>
    $(document).ready(function () {
        $('.i-checks').iCheck({
            checkboxClass: 'icheckbox_square-green',
            radioClass: 'iradio_square-green',
        });
    });
</script>

